<div [ngClass]="themeService.theme" style="height: 100%;">
    <mat-sidenav-container style="height: 100%;">
        <mat-sidenav opened="true" disableClose="true" mode="side">
            <mat-nav-list>
                <mat-list-item [routerLink]="'/'"> Home </mat-list-item>
                <mat-list-item [routerLink]="'projects'"> Projects </mat-list-item>
                <mat-list-item> Applications </mat-list-item>
                <mat-list-item> CV </mat-list-item>
            </mat-nav-list>
        </mat-sidenav>
        <mat-sidenav-content>
            <router-outlet></router-outlet>
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>