<div [ngClass]="activeTheme.name" style="height: 100%;">
    <mat-sidenav-container style="height: 100%;">
        <mat-sidenav [opened]="sidenavOpened" disableClose="true" mode="side" style="width: 9em">
            <mat-nav-list>
                <mat-list-item [routerLink]="'/'"> Home </mat-list-item>
                <mat-list-item [routerLink]="'projects'"> {{"projects" | translate}} </mat-list-item>
                <mat-list-item [routerLink]="'applications'"> {{"applications" | translate}} </mat-list-item>
                <mat-list-item [routerLink]="'profile'"> {{"profile" | translate}} </mat-list-item>
                <mat-list-item [routerLink]="'contact'"> {{"contact" | translate}} </mat-list-item>
            </mat-nav-list>
        </mat-sidenav>
        <mat-sidenav-content>
            <mat-toolbar color="primary">
                <button mat-raised-button (click)="sidenavOpened = !sidenavOpened" class="tool-bar-button">
                    <mat-icon *ngIf="sidenavOpened"> arrow_back_ios
                    </mat-icon>
                    <mat-icon *ngIf="!sidenavOpened"> menu
                    </mat-icon>
                </button>
                <span style="flex: 1 1 auto;"></span>
                <button *ngIf="isFullToolbarShown" mat-raised-button [matMenuTriggerFor]="languageMenu"
                    class="tool-bar-button">
                    {{languages.get(translate.currentLang)}}
                    <mat-icon>expand_more</mat-icon>
                </button>
                <mat-menu #languageMenu="matMenu">
                    <button mat-menu-item *ngFor="let language of this.languages.keys()"
                        (click)="translate.use(language)"> {{this.languages.get(language)}} </button>
                </mat-menu>
                <div *ngIf="isFullToolbarShown">
                    <button *ngIf="!scopes" mat-raised-button (click)="login()" class="tool-bar-button"> Login </button>
                    <button *ngIf="scopes" mat-raised-button (click)="logoff()" class="tool-bar-button"> LogOut
                    </button>
                    <button mat-raised-button (click)="activeTheme = nextTheme()" class="tool-bar-button">
                        {{nextTheme().label}} </button>
                </div>
                <button *ngIf="!isFullToolbarShown" mat-raised-button [matMenuTriggerFor]="miniMenu">
                    <mat-icon>more_vert</mat-icon>
                </button>
                <mat-menu #miniMenu="matMenu">
                    <button mat-menu-item [matMenuTriggerFor]="languageMenu">
                        Language
                    </button>
                    <button mat-menu-item (click)="activeTheme = nextTheme()"> {{nextTheme().label}} </button>
                    <button *ngIf="!scopes" mat-menu-item (click)="login()"> Login </button>
                    <button *ngIf="scopes" mat-menu-item (click)="logoff()"> LogOut </button>
                </mat-menu>
            </mat-toolbar>
            <router-outlet></router-outlet>
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>