<div [ngClass]="{'dark-theme': isDarkMode}" style="height: 100%;">
    <mat-sidenav-container [ngClass]="{'dark-theme': isDarkMode}" style="height: 100%;">
        <mat-sidenav opened="true" disableClose="true" mode="side" style="width: 10%;">

        </mat-sidenav>
        <mat-sidenav-content>
            <mat-toolbar color="primary">
                <button mat-button> blas</button>
                <mat-slide-toggle [(ngModel)]="isDarkMode"> dark </mat-slide-toggle>
            </mat-toolbar>

        </mat-sidenav-content>
    </mat-sidenav-container>
</div>