<div style="margin: 1em" fxLayout="column" fxLayoutAlign="space-around center" >
    <h1> Sven Kuhlmann </h1>
    <h3> Master of Science </h3>
    <img src="/assets/shup.jpg" style="width: 60%; min-width: 10em; max-width: 25em; margin-bottom: 1em; margin: 1em;">
    <p>
        {{'profile-abstract' | translate}}
        {{'profile-private-motivation' | translate}}
        {{'profile-backend-tech' | translate}}
        {{'profile-frontend-tech' | translate}}
        {{'profile-production-tech' | translate}}
    </p>
</div>
<div style="margin: 1em; clear:right">
    <h2> Philosophy </h2>
    <div fxLayout="column" fxLayoutAlign="space-around center"> "{{"free-bob-cite" | translate}}" </div>
    <div style="font-size: 0.8em" fxLayout="column" fxLayoutAlign="space-around center"> {{"free-bob-cite-mark" |
        translate}} </div>
</div>
<!--div style="margin: 1em; clear:right">

    It is worth putting an effort in reducing the workload for fellow developers.
    Fellow developers are stakeholders of the codebase just as customers or sales departments.
</div-->
<!--div style="margin: 1em">
    <h2> Technologies </h2>
</div-->