.cv-left{
    width: 49%; 
    text-align: right;
}

.cv-left.header{
    font-weight: 900;
    font-size: 1.2em;
    margin-top: 1em;
}

.cv-right{
    width: 49%;

}

.cv-right.header{
    font-weight: 900;
    font-size: 1.2em;
    margin-top: 1em;
}

.xs-header{
    font-weight: 900;
    font-size: 1.2em;
}

.xs-item{
    text-align: center;
}