<div fxLayout.xs="column" fxLayout.sm="row" fxLayout.md="row" fxLayout.lg="row" fxLayout.xl="row"
    fxLayoutAlign.gt-xs="center">
    <mat-card style="margin: 1em" fxFlex.sm="66%" fxFlex.md="50%" fxFlex.lg="40%" fxFlex.gt-lg="24%"
        fxLayout="row wrap">
        <img style="padding: 0.5em" src="/assets/me_300.jpg" fxFlex="100" fxShow.gt-xs="false">
        <img src="/assets/me_300.jpg" fxFlex="50" fxShow.xs="false">
        <div fxLayout="column" fxLayoutAlign="space-around stretch" fxFlex.xs="100%" fxFlex.gt-xs="50%">
            <div fxLayout="column" fxLayoutAlign="space-around center" fxFlex="100%">
                <div> - Fullstack Developer </div>
                <div> - System Designer </div>
                <div> - Software Architect </div>
                <div> - Cluster Administrator</div>
                <div> - Master of Science </div>
            </div>
            <div fxShow.xs="false" fxLayoutAlign="end" >
                <button style="margin-right: 1em" [routerLink]="['/profile']" mat-raised-button> Profile </button>
                <button [routerLink]="['/contact']" mat-raised-button color="primary"> Contact </button>
            </div>
        </div>
        <button [routerLink]="['/profile']" mat-raised-button fxFlex="100" fxShow.gt-xs="false"> Profile </button>
        <button [routerLink]="['/contact']" mat-raised-button fxFlex="100" fxShow.gt-xs="false" color="primary"> Contact
        </button>
    </mat-card>
</div>


<mat-card style="margin: 1em; clear:right">
    <mat-card-title [routerLink]="['/projects']" mat-ripple class="clickable">
        {{'projects' | translate}}
    </mat-card-title>
    <mat-card-content>
        {{'home-projects-paragraph' | translate}}
        {{'github-reference-sentence' | translate}} <a href="https://github.com/SvenKuhlmann"
            style="color: currentcolor"> GitHub</a>.
    </mat-card-content>
</mat-card>
<mat-card style="margin: 1em">
    <mat-card-title [routerLink]="['/applications']" mat-ripple class="clickable">
        {{'applications' | translate}}
    </mat-card-title>
    <mat-card-content>
        {{'home-applications-paragraph' | translate}}
    </mat-card-content>
</mat-card>