<div fxLayout="column" fxLayoutAlign="start center">
    <span fxFlex.gt-xs="10vh" fxFlex.xs="2vh"> </span>
    <mat-card fxLayout.xs="row wrap" fxLayout.gt-xs="column" style="margin-left: 5vw; margin-right: 5vw;">
        <div fxLayout.xs="row wrap" fxLayout.gt-xs="row">
            <img src="/assets/me_300.jpg" fxFlex.xs="40vw" fxFlex.gt-xs="50%" fxFlex.gt-sm="min(300px, 30vh)"
                style="margin-bottom: 2vh">
            <div fxLayout="column" fxLayoutAlign="space-between start" fxFlex.xs="40vw" fxFlex.gt-sm="300px"
                style="margin-bottom: 2vh">
                <div class="bullet-point"> - Fullstack Developer </div>
                <div class="bullet-point"> - System Designer </div>
                <div class="bullet-point"> - Software Architect </div>
                <div class="bullet-point"> - Cluster Administrator</div>
                <div class="bullet-point"> - Master of Science </div>
            </div>
        </div>
        <div fxLayout.xs="row wrap" fxLayout.gt-xs="row" style="width: 100%">
            <button mat-raised-button [routerLink]="['/profile']" fxFlex.xs="40vw" fxFlex.gt-xs="50%"
                fxFlex.gt-sm="min(300px, 30vh)">
                Profile </button>
            <button mat-raised-button [routerLink]="['/contact']" fxFlex.xs fxFlex.gt-sm="300px" color="accent">
                Contact
            </button>
        </div>
    </mat-card>
    <span fxFlex.gt-xs="10vh" fxFlex.xs="2vh"> </span>
</div>


<!--div fxLayout="column" fxLayoutAlign="space-around center">
    <div class="card-holder">
        <mat-card fxLayout.xs="row wrap" class="card">
            <img src="/assets/shup.jpg" fxFlex.xs="100" fxFlex.md="40" style="margin: 5vw">
            <div fxLayout="column" fxLayoutAlign="space-between start">
                <div class="bullet-point"> - Fullstack Developer </div>
                <div class="bullet-point"> - System Designer </div>
                <div class="bullet-point"> - Software Architect </div>
                <div class="bullet-point"> - Kubernetes Cluster Admin</div>
                <div class="bullet-point"> - Master of Science </div>
            </div>
        </mat-card>

    </div>
</div-->



<mat-card style="margin: 1em; clear:right">
    <mat-card-title [routerLink]="['/projects']" mat-ripple class="clickable">
        {{'projects' | translate}}
    </mat-card-title>
    <mat-card-content>
        {{'home-projects-paragraph' | translate}}
        {{'github-reference-sentence' | translate}} <a href="https://github.com/SvenKuhlmann"
            style="color: currentcolor"> GitHub</a>.
    </mat-card-content>
</mat-card>
<mat-card style="margin: 1em">
    <mat-card-title [routerLink]="['/applications']" mat-ripple class="clickable">
        {{'applications' | translate}}
    </mat-card-title>
    <mat-card-content>
        {{'home-applications-paragraph' | translate}}
    </mat-card-content>
</mat-card>